a {
    text-decoration: none;
    color: teal;
}

body {
    margin-top: 18px;
    padding: 10px;
    height: 96vh;
    font-family: monospace;
    background-repeat: no-repeat;
    color: black;
    font-size: 20px;
    background-image: "background.jpg";
}

header {
    background-color: black;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    margin: 0;
    padding: 0;
    height: 2vw;
    display: flex;
    box-shadow: 0 0 6px 0 dimgrey;
}

header * {
    display: inline;
}

header li {
    margin: 1vh;
}

header li a {
    text-decoration: none;
    color: silver;
}

h1 {
    text-align: center;
}