a {
    text-decoration: none;
    color: teal;
}

body {
    margin-top: 18px;
    padding: 10px;
    height: 96vh;
    font-family: monospace;
    background-repeat: no-repeat;
    font-size: 20px;
}

nav {
    background-color: black;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    margin: 0;
    padding: 0;
    height: 2vw;
    display: flex;
    box-shadow: 0 0 6px 0 dimgrey;
    
    li {
        display: inline;
        margin: 1vh;

        a {
            text-decoration: none;
            color: silver;
        }
    }
}


h1 {
    text-align: center;
}

.Alpha {
    background-image: "background.jpg";
}